<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!--服务端日志格式 description by list -->
<!--时间 [线程][执行代码:行数][日志级别][玩家id][日志内容] -->
<!-- %d [%-20t] [%-35F:%-4L] [%-p] [%X{keyid}] %m%n -->
<!--2019-03-28 14:49:59,995 [NioProcessor-370] [ClientManager.java:68] [INFO] [14680093] ClientMessage:203101 -->

<!-- 详细地址:https://www.cnblogs.com/crazyacking/p/5456347.html %p: 输出日志信息优先级，即DEBUG，INFO，WARN，ERROR，FATAL, %d: 输出日志时间点的日期或时间，默认格式为ISO8601，也可以在其后指定格式，比如：%d{yyy 
	MMM dd HH:mm:ss,SSS}，输出类似：2002年10月18日 22：10：28，921 %r: 输出自应用启动到输出该log信息耗费的毫秒数 %c: 输出日志信息所属的类目，通常就是所在类的全名 %t: 输出产生该日志事件的线程名 
	%l: 输出日志事件的发生位置，相当于%C.%M(%F:%L)的组合,包括类目名、发生的线程，以及在代码中的行数。举例：Testlog4.main(TestLog4.java:10) %x: 输出和当前线程相关联的NDC(嵌套诊断环境),尤其用到像java 
	servlets这样的多客户多线程的应用中。 %%: 输出一个”%”字符 %F: 输出日志消息产生时所在的文件名称 %L: 输出代码中的行号 %m: 输出代码中指定的消息,产生的日志具体信息 %n: 输出一个回车换行符，Windows平台为”\r\n”，Unix平台为”\n”输出日志信息换行 
	可以在%与模式字符之间加上修饰符来控制其最小宽度、最大宽度、和文本的对齐方式。如： 1)%20c：指定输出category的名称，最小的宽度是20，如果category的名称小于20的话，默认的情况下右对齐。 2)%-20c:指定输出category的名称，最小的宽度是20，如果category的名称小于20的话，”-”号指定左对齐。 
	3)%.30c:指定输出category的名称，最大的宽度是30，如果category的名称大于30的话，就会将左边多出的字符截掉，但小于30的话也不会有空格。 4)%20.30c:如果category的名称小于20就补空格，并且右对齐，如果其名称长于30字符，就从左边交远销出的字符截掉。 -->

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-20t] [%-35F:%-4L] [%-p] [%X{keyid}] %m%n" />
		</layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/game.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-20t] [%-35F:%-4L] [%-p] [%X{keyid}] %m%n" />
		</layout>
	</appender>

	<appender name="AsyncFileAppender" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="2048" />
		<appender-ref ref="FileAppender" />
	</appender>
	<appender name="PaylogFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/pay.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-20t] [%-35F:%-4L] [%-p] [%X{keyid}] %m%n" />
		</layout>
	</appender>
	<appender name="PAYLOG" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="2048" />
		<appender-ref ref="PaylogFileAppender" />
	</appender>

	<appender name="StatlogFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/stat.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-20t] [%-35F:%-4L] [%-p] [%X{keyid}]  %m%n" />
		</layout>
	</appender>
	<appender name="STATLOG" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="2048" />
		<appender-ref ref="StatlogFileAppender" />
	</appender>

	<!-- 服务器启动日志 -->
	<appender name="StartuplogFileAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/startup.log" />
		<!-- 该日志每次启动时都清空旧日志 -->
		<param name="append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-20t] [%-35F:%-4L] [%-p] [%X{keyid}]  %m%n" />
		</layout>
	</appender>
	<appender name="STARTUPLOG" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="2048" />
		<appender-ref ref="StartuplogFileAppender" />
	</appender>
	<!-- 严重报错日志 -->
	<appender name="fatalErrorFileAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/fatalError.log" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-20t] [%-35F:%-4L] [%-p] [%X{keyid}]  %m%n" />
		</layout>
	</appender>
	<appender name="FATALERRORLOG" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="2048" />
		<appender-ref ref="fatalErrorFileAppender" />
	</appender>
	<!-- logger需要放在appender的后面 -->

	<logger name="PAYLOG" additivity="false">
		<level value="info" />
		<appender-ref ref="PaylogFileAppender" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="STATLOG" additivity="false">
		<level value="info" />
		<appender-ref ref="StatlogFileAppender" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<!-- 启动日志 -->
	<logger name="com.game.GameMain">
		<level value="info" />
		<appender-ref ref="StartuplogFileAppender" />
	</logger>
	<logger name="game.mina">
		<level value="info" />
		<appender-ref ref="StartuplogFileAppender" />
	</logger>
	<logger name="game.inner">
		<level value="info" />
		<appender-ref ref="StartuplogFileAppender" />
	</logger>
	<logger name="com.game.client">
		<level value="info" />
		<appender-ref ref="StartuplogFileAppender" />
	</logger>
	<logger name="com.game.manager">
		<level value="info" />
		<appender-ref ref="StartuplogFileAppender" />
	</logger>

	<logger name="SESSIONCREATE">
		<level value="error" />
	</logger>
	<logger name="SAVEPLAYER">
		<level value="info" />
	</logger>
	<logger name="HEART">
		<level value="error" />
	</logger>
	<logger name="SESSIONCLOSE">
		<level value="info" />
	</logger>
	<logger name="DBLOGCONSUMING">
		<level value="info" />
	</logger>
	<logger name="DROPCOMMAND">
		<level value="info" />
	</logger>
	<logger name="PLAYERLOGIN">
		<level value="info" />
	</logger>
	<logger name="SERVERPLAYER">
		<level value="info" />
	</logger>
	<logger name="GATEFLOW">
		<level value="info" />
	</logger>
	<logger name="GATEMESSAGE">
		<level value="info" />
	</logger>

	<logger name="com.game.fight">
		<level value="error" />
	</logger>
	<logger name="com.game.server">
		<level value="info" />
	</logger>
	<logger name="com.game.fight">
		<level value="error" />
	</logger>
	<logger name="com.game.monster.manager">
		<level value="info" />
	</logger>
	<logger name="net.sf.json.JSONObject">
		<level value="error" />
	</logger>
	<logger name="java.sql">
		<level value="error" />
	</logger>
	<logger name="org.quartz">
		<level value="error" />
	</logger>
	<logger name="com.mchange">
		<level value="error" />
	</logger>
	<logger name="org.apache.mina">
		<level value="info" />
	</logger>
	<logger name="org.apache.ibatis">
		<level value="error" />
	</logger>
	<!-- logger报警机制    优化到工具类中 -->
	<logger name="game.utils.FatalErrorLogUtil">
		<level value="error" />
		<appender-ref ref="fatalErrorFileAppender" />
	</logger>

	<root>
		<level value="info" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</log4j:configuration>